{
  "Update-AzsGlobalFeatureSetting+[NoContext]+TestUpdateGlobalFeatureSetting+$GET+https://management.azure.com/subscriptions/190134bc-f9c8-4986-881a-c90ecdb67f82/providers/Microsoft.Compute.Admin/locations/local/features/Microsoft.Compute.EmergencyVMAccess?api-version=2020-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.local.azurestack.external/subscriptions/190134bc-f9c8-4986-881a-c90ecdb67f82/providers/Microsoft.Compute.Admin/locations/local/features/Microsoft.Compute.EmergencyVMAccess?api-version=2020-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "449" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14590" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvwNrtyq9ogMIiNslwMafFk6Jqo+vHMN5V5INxcuMbXQyWE07txe6wvJKG/qLRSanpT0MkfNLXPXjYLljTW5EhGp1Yo6RQi/Rddt9aQBG/AQkA70U+y3uW2MlBOi9cdZ5ZZ0zOX+nIeTyYApFTNcUI" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/190134bc-f9c8-4986-881a-c90ecdb67f82/providers/Microsoft.Compute.Admin/locations/local/features/Microsoft.Compute.EmergencyVMAccess\",\"name\":\"Microsoft.Compute.EmergencyVMAccess\",\"type\":\"Microsoft.Compute.Admin/locations/features\",\"location\":\"local\",\"properties\":{\"featureName\":\"Microsoft.Compute.EmergencyVMAccess\",\"globalFeatureSettings\":{\"globalFeatureState\":\"TenantSubscriptionLevel\"},\"enabledTenantSubscriptionIds\":[\"e8e2d9e1-e8d8-4a4c-942e-57bb279613b6\",\"b958fb19-a849-4739-af90-b2065efb14bd\",\"77a37fc2-c69a-4dee-8a5f-96fa959b5db6\",\"0017860e-fbad-4c83-b880-a6feecb7ec6e\",\"b39c0482-0271-49ed-8dd3-025479233c5b\",\"e6269934-5ace-4bb9-96d6-7df76e66bb19\",\"0c9daacc-a597-4495-87bf-b69a02b7d725\",\"07feadd5-16f4-4efa-a72d-73278e562bc8\",\"8d787cb3-4ba5-493f-a832-376535778302\",\"729cb079-a0e5-4008-816c-6dda05943868\",\"0cad107b-30dc-4887-9cdc-4203a54f62e7\",\"f3ae8860-8ffb-4d9d-9bc7-2a0313aa0066\",\"b07e9[...]
